# ignore these no matter what
README.md
LICENSE
.DS_Store
.bash_sessions
.vim/plugged/**
*history
*hst

app-prefs/**

sdev/**
{{ if not .school }}
# install these only for school
!sdev/.gitconfig
{{ end }}

{{ if ne .chezmoi.os "darwin" }}
# install these only on mac
.chezmoiscripts/darwin/**
private_Library/**
{{ end }}

{{ if ne .chezmoi.os "linux" }}
# install these only on linux
.chezmoiscripts/linux/**
{{ end }}

{{ if ne .chezmoi.os "windows" }}
# install these only on windows
.chezmoiscripts/windows/**
{{ else }}
# install these only on non-windows
.inputrc
{{ end }}
