{{- $work := promptBoolOnce . "work" "Work setup" }}
{{- $full_name := promptStringOnce . "full_name" "Full name" }}
{{- $email := promptStringOnce . "email" "Email address" }}
{{- $github := promptStringOnce . "github" "Github user" }}

{{- $work_email := "" }}
{{- if $work }}
{{-     $work_email = promptStringOnce . "work_email" "Work email" }}
{{- end }}

[data]
    full_name = {{ $full_name | quote }}
    email = {{ $email | quote }}
    github = {{ $github | quote }}
    work = {{ $work }}
{{- if $work }}
    work_email = {{ $work_email | quote }}
{{- end }}

[edit]
    command = "vim"

[diff]
    exclude = ["scripts"]
    pager = "less -R"

