{{- $work := promptBoolOnce . "work" "Work setup" }}
{{- $full_name := promptStringOnce . "full_name" "Full name" }}

{{- $email := "" }}
{{- if $work }}
{{- $email := promptStringOnce . "email" "Work email" }}
{{- else }}
{{- $email := promptStringOnce . "email" "Email address" }}
{{- end }}

[data]
    full_name = {{ $full_name | quote }}
    email = {{ $email | quote }}
    github = "bol0gna"
    work = {{ $work }}

[edit]
    command = "vim"

[diff]
    exclude = ["scripts"]
    pager = "less -R"

