# If not running interactively, don't do anything
[ -z "$PS1" ] && return

source ~/.util/rcload.sh

rcload ~/.util/env_xdg.sh || echo "! COULD NOT LOAD XDG ENVIRONMENT VARS !"

export HISTFILE="$XDG_STATE_HOME"/bash_history
export HISTCONTROL='ignoreboth' # ignore duplicate & whitespace-first
shopt -s histappend
# shopt -s globstar

rcload ~/.util/env.sh
secrets="$HOME/.util/.secrets.sh"
[ -e $secrets ] && rcload $secrets
unset secrets
rcload ~/.util/.secrets.sh
rcload ~/.util/aliases.sh
rcload ~/.util/prompt.bash
rcload ~/.util/completion.bash

{{- if (and (eq .chezmoi.os "linux") .work) }}
rcload ~/.work.sh
{{- end }}

