# If not running interactively, don't do anything
[ -z "$PS1" ] && return

source ~/.util/rcload.sh

rcload ~/.util/env_xdg.sh || echo "! COULD NOT LOAD XDG ENVIRONMENT VARS !"
export HISTFILE="$XDG_STATE_HOME"/bash_history

# ignore duplicate & whitespace-first cmds
export HISTCONTROL='ignoreboth'

rcload ~/.util/env.sh
rcload ~/.util/.secrets.sh
rcload ~/.util/aliases.sh
rcload ~/.util/prompt.bash
rcload ~/.util/completion.bash

{{- if eq .chezmoi.os "linux" }}
rcload ~/.util/ssh-agent.sh
{{-     if .work }}
export PATH=$(echo $PATH | sed -e 's/.*remote-cli://')
export PATH="$HOME/bin:$PATH"
{{-     end }}
{{- end }}

# shopt -s histappend
# shopt -s globstar

