Host *
    IdentityFile ~/.ssh/id_ed25519
    AddKeysToAgent yes
    # ForwardAgent yes # apply this for trusted hosts
{{- if eq .chezmoi.os "darwin" }}
    IgnoreUnknown UseKeychain
    UseKeychain yes
{{- end }}

Host github.com
    User git

