## colors
alias grep &> /dev/null || alias grep='grep --color=auto'
alias diff &> /dev/null || alias diff='diff --color=auto'

## navigation
alias la='ls -A'
alias ll='ls -lAFh'
alias lll='ls -laFh'

# resolve symlink in $pwd
alias cdp='cd "`pwd -P`"'

alias cdd='cd ..'
alias cddd='cd ../..'
alias cdddd='cd ../../..'

## verbose (show log)
alias cp="cp -v"
alias mv="mv -v"
alias rm="rm -v"

{{- if eq .chezmoi.os "darwin" }}
alias defr='defaults read'
alias defw='defaults write'
{{- end }}

alias chz='chezmoi'

function cdxdg () {
    case $1 in
        data) cd "$XDG_DATA_HOME";;
        config) cd "$XDG_CONFIG_HOME";;
        cache) cd "$XDG_CACHE_HOME";;
        state) cd "$XDG_STATE_HOME";;
        *) return 1;;
    esac
}

